a.nav-link  {
    color: #999999;
    display: inline;
    margin-right: 30px;
    padding: 0;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

a.navbar-brand {
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
}